h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

button{
  margin: 12px;
  background-color: #2196F3;
  color: #fff;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{background-color: #1565C0;}
#button3{background-color: #F44336;}
#button3:hover{background-color: #C62828;}
#button4{background-color: #FF9800;}
#button4:hover{background-color: #EF6C00;}
#button10{background-color: #4CAF50;}
#button4:hover{background-color: #2E7D32;}
